.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widgets__header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.widgets__header > h2{
    font: 18px;
    font-weight: 400;
}

.widgets__article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets__article:hover{
    background-color: whitesmoke;
}

.widgets__articleLeft{
    margin-right: 5px;
}

.widgets__articleRight{
    flex: 1;
}

.widgets__articleRight > h4{
    font-size: 16px;
}

.widgets__articleRight > p{
    font-size: 13px;
    color: grey;
}